Correct
["Trinity Peninsula", "part of", "Graham Land"]
Correct
["Graham Land", "continent", "Antarctica"]
Correct
["Harald Kaas", "date of death", "5 December 1953"]
Correct
["Trinity Peninsula", "continent", "Antarctica"]
Correct
Correct
["Jallo Park", "located in the administrative territorial entity", "Lahore District"]
Correct
["Paul L. Foster", "residence", "El Paso"]
Correct
["Júlia Hajdú", "date of death", "23 October 1987"]
Correct
Correct
["Isère", "instance of", "département"]
Correct
["Voca People", "genre", "a cappella"]
Correct
["Canada", "contains administrative territorial entity", "British Columbia"]
Correct
["Wilk Elektronik", "product or material produced", "computer memory"]
Correct
["Maibritt Kviesgaard", "sport", "handball"]
Correct
["2011 Nile Basin Tournament", "point in time", "January 2011"]
Correct
["Winston Cup Series", "organizer", "NASCAR"]
Correct
["2011 National League Division Series", "sports season of league or competition", "National League Division Series"]
Correct
Correct
["1906 USC Methodists football team", "point in time", "1906"]
Correct
["Da Vinci's Demons", "characters", "Nico Machiavelli"]
Correct
Correct
Correct
["Southern Bastards", "illustrator", "Jason Latour"]
Correct
["Rotterdam", "country", "Netherlands"]
Correct
["2011 NCAA Division I FBS football season", "point in time", "2011"]
Correct
["Indonesia", "capital", "Jakarta"]
Correct
["India", "contains administrative territorial entity", "Bihar"]
Correct
["Driving Wheel", "genre", "blues"]
Correct
Correct
["Gargoyle Ridge", "mountain range", "Churchill Mountains"]
Correct
["Garrard Glacier", "instance of", "glacier"]
Correct
["Bowling Green Plateau", "mountain range", "Cook Mountains"]
Correct
["King George Island", "located on terrain feature", "South Shetland Islands"]
Correct
["Chuck Compton", "place of birth", "Atwater, California"]
Correct
Correct
["Bowers Piedmont Glacier", "instance of", "glacier"]
Correct
Correct
["James Higginbotham", "date of birth", "17 August 1941"]
Correct
["Mount Goldthwait", "mountain range", "Sentinel Range"]
Correct
Correct
["Robin Heights", "mountain range", "Sverdrup Mountains"]
Correct
Correct
["Tennant Peak", "mountain range", "Rockefeller Mountains"]
Correct
["Laurie Island", "part of", "South Orkney Islands"]
Correct
Correct
["Grautskåla Cirque", "mountain range", "Humboldt Mountains"]
Correct
["John Woolfe", "date of death", "14 June 1969"]
Correct
["Cameron Island", "part of", "Swain Islands"]
Correct
Correct
["Hale Glacier", "instance of", "glacier"]
Correct
["2011 CONCACAF Gold Cup", "point in time", "2011"]
Correct
Correct
["Western Cattle in Storm", "publication date", "1898"]
Correct
["New Year Pass", "mountain range", "Queen Elizabeth Range"]
Correct
["Chernobyl Way", "main subject", "Chernobyl disaster"]
Correct
["Coronation Island", "located on terrain feature", "South Orkney Islands"]
Correct
["Morrell Reef", "named after", "Benjamin Morrell"]
Correct
Correct
["Adrien de Gerlache", "participant in", "Belgian Antarctic Expedition"]
Correct
["Maurice Brantley", "date of birth", "September 19, 1968"]
Correct
["Kansas Glacier", "instance of", "glacier"]
Correct
["36 Greatest Hits!", "performer", "Frank Sinatra"]
Correct
Correct
["Neptune Range", "mountain range", "Pensacola Mountains"]
Correct
["Kehle Glacier", "instance of", "glacier"]
Correct
["Germaine Poinso-Chapuis", "date of birth", "6 March 1901"]
Correct
Correct
Correct
["Mount Randall", "mountain range", "Victory Mountains"]
Correct
["Byrd Station", "operator", "United States Antarctic Service"]
Correct
["Bartlett Glacier", "mountain range", "Queen Maud Mountains"]
Correct
["Forrestal Range", "mountain range", "Pensacola Mountains"]
Correct
["Peniston Lamb (1770–1805)", "father", "Peniston Lamb, 1st Viscount Melbourne"]
Correct
Correct
Correct
["Ravn Rock", "part of", "South Shetland Islands"]
Correct
["Mount Lupa", "instance of", "mountain"]
Correct
["Mount Lymburner", "instance of", "mountain"]
Correct
["arachnids", "studied by", "arachnologists"]
Correct
["Marguerite Bay", "instance of", "bay"]
Correct
["Lacroix Glacier", "mountain range", "Asgard Range"]
Correct
["Municipality of Hoče–Slivnica", "country", "Slovenia"]
Correct
["Lucian Flemming", "sport", "football"]
Correct
["Pan and Syrinx", "composer", "Carl Nielsen"]
Correct
Correct
["Dingle", "located in the administrative territorial entity", "County Kerry"]
Correct
["Santa Catarina Island", "country", "Brazil"]
Correct
["Born Again in Dixieland", "part of", "Playin' for Keeps"]
Correct
Correct
Correct
["Peaceful Snow/Lounge Corps", "performer", "Death in June"]
Correct
["Netty Simons", "date of death", "1 April 1994"]
Correct
["Beware the Gonzo", "publication date", "2010"]
Correct
["Wahconah Park", "owned by", "Pittsfield"]
Correct
["Hangzhou–Ningbo high-speed railway", "located in the administrative territorial entity", "Zhejiang"]
Correct
["Mount Paine", "mountain range", "La Gorce Mountains"]
Correct
["Manfred Osten", "place of birth", "Ludwigslust"]
Correct
["Frank Keller", "educated at", "University of Stuttgart"]
Correct
Correct
["Atheism in Christianity", "publication date", "1968"]
Correct
["Gunnestad Glacier", "instance of", "glacier"]
Correct
["Duchaylard Island", "part of", "Biscoe Islands"]
Correct
["Blues Run the Game", "performer", "Jackson C. Frank"]
Correct
["Victory Mountains", "located in the administrative territorial entity", "Victoria Land"]
Correct
["Mount Menzies", "instance of", "mountain"]
Correct
["Grimes Glacier", "mountain range", "Anderson Massif"]
Correct
Correct
Correct
["Vindication Island", "located in the administrative territorial entity", "South Sandwich Islands"]
Correct
["Holzrichter Glacier", "mountain range", "Prince Olav Mountains"]
Correct
Correct
["Punchbowl Glacier", "instance of", "glacier"]
Correct
Correct
Correct
["Edgware Way Grassland", "located in the administrative territorial entity", "London Borough of Barnet"]
Correct
["Jean Khayat", "date of birth", "3 May 1942"]
Correct
["Rich Products Corporation", "headquarters location", "Buffalo, New York"]
Correct
Correct
["Florida", "country", "U.S.A"]
Correct
["Kimberley Land Division", "located in the administrative territorial entity", "Western Australia"]
Correct
["Waachiim Spiritwolf", "sport", "mixed martial artist"]
Correct
Correct
["The Complete Fighter's Handbook", "genre", "role-playing game"]
Correct
["The Complete Wizard's Handbook", "publication date", "1990"]
Correct
Correct
["Staten Island Railway", "located in the administrative territorial entity", "Staten Island"]
Correct
Correct
["Indonesia", "contains administrative territorial entity", "Central Java"]
Correct
["Rijeka Thermal Power Station", "country", "Croatia"]
Correct
["Hokkaidō", "country", "Japan"]
Correct
["Ottoman", "country", "Ottoman Empire"]
Correct
Correct
["Fiftyone Glacier", "located in the administrative territorial entity", "Heard Island"]
Correct
["Mount Darnley", "located in the administrative territorial entity", "South Sandwich Islands"]
Correct
["Ekström", "instance of", "Ice shelves"]
Correct
["Somers Glacier", "instance of", "glacier"]
Correct
["Richard Gustavus Hamilton-Russell", "sport", "polo"]
Correct
["Cecil Jensen", "place of birth", "Ogden, Utah"]
Correct
["Kungliga tennishallen", "located in the administrative territorial entity", "Stockholm"]
Correct
Correct
["England", "country", "Great Britain"]
Correct
["William Madison McDonald", "date of death", "July 5, 1950"]
Correct
["Fjord", "shares border with", "Stranda"]
Correct
["Léon Danchin", "date of birth", "21 June 1887"]
Correct
["India Infoline", "headquarters location", "Mumbai"]
Correct
["George Menzies", "date of birth", "30 September 1930"]
Correct
["Raging Fighter", "publication date", "March 26, 1993"]
Correct
["S. M. Pandit", "date of death", "30 March 1993"]
Correct
["Swedish House Mafia", "has part", "Axwell"]
Correct
Correct
["Thomas Jeffery Parker", "field of work", "zoologist"]
Correct
Correct
["TARKI Social Research Institute", "country", "Hungary"]
Correct
["Irene Hickson", "date of birth", "August 14, 1915"]
Correct
["Italy", "diplomatic relation", "France"]
Correct
["Museum of Slavonia", "inception", "1877"]
Correct
["Kurt Blecha", "date of death", "March 1, 2013"]
Correct
["Krzysztof Pyskaty", "date of birth", "January 18, 1974"]
Correct
Correct
Correct
["Do Dooni Chaar", "cast member", "Neetu Singh"]
Correct
Correct
["Södermanland Runic Inscription 352", "use", "runestone"]
Correct
["French Guiana", "located in or next to body of water", "Atlantic Ocean"]
Correct
Correct
["Yugoslavia", "has part", "Serbia & Montenegro"]
Correct
["Sudbury – White River train", "operator", "Via Rail"]
Correct
["Kandahar province", "country", "Afghanistan"]
Correct
["Rosemary's Billygoat", "inception", "1991"]
Correct
["Geoffrey Gaunt", "date of death", "15 September 1940"]
Correct
["Legions of Thyatis", "publication date", "1990"]
Correct
Correct
["The Heart Specialist", "publication date", "2006"]
Correct
["Boston Bridge", "crosses", "Youghiogheny River"]
Correct
["Štajerska Vas", "located in the administrative territorial entity", "Municipality of Slovenske Konjice"]
Correct
["monastery of Clare", "religious order", "order of St. Augustine"]
Correct
["India", "contains administrative territorial entity", "West Bengal"]
Correct
Correct
Correct
Correct
["Sin Du-ho", "date of birth", "13 October 1934"]
Correct
["Jumani Johansson", "date of birth", "2 May 1973"]
Correct
["Florence", "country", "Italy"]
Correct
["El Harrach", "country", "Algeria"]
Correct
["Grand Duke Michael Pavlovich", "sibling", "Alexander I"]
Correct
["Marcel Rooney", "religious order", "O.S.B."]
Correct
Correct
Correct
["2010", "point in time", "2010"]
Correct
["Bali", "country", "Indonesia"]
Correct
Correct
["columnist", "subclass of", "journalist"]
Correct
["Shuhei Fukuda", "member of sports team", "Fukuoka SoftBank Hawks"]
Correct
["Royal National Lifeboat Institution", "located in the administrative territorial entity", "Dorset"]
Correct
["Tara River", "country", "Montenegro"]
Correct
["Departing", "record label", "Saddle Creek Records"]
Correct
["Joan Perry", "date of death", "September 16, 1996"]
Correct
Correct
["Kalungu District", "instance of", "district"]
Correct
Correct
["Equal Rights Amendment", "facet of", "feminist"]
Correct
["Parner taluka", "country", "India"]
Correct
Correct
["Parner taluka", "located in the administrative territorial entity", "Ahmednagar district"]
Correct
["Parner taluka", "located in the administrative territorial entity", "Ahmednagar district"]
Correct
["Treemont Manor", "architectural style", "Georgian Revival"]
Correct
["The Knocks", "genre", "electronic music"]
Correct
["Cousin Sarah", "cast member", "Leah Pipes"]
Correct
["The Infinity Concerto", "author", "Greg Bear"]
Correct
["Mark Hodgson", "date of birth", "19 November 1880"]
Correct
["Augustus Meredith Nanton", "date of birth", "7 May 1860"]
Correct
["Masai Ujiri", "sport", "basketball"]
Correct
["Los Trancos Creek", "mouth of the watercourse", "San Francisquito Creek"]
Correct
["Selçuk Baştürk", "place of birth", "Üsküdar"]
Correct
Correct
Correct
Correct
["Old City of Jerusalem", "has part", "New Gate"]
Correct
["2010 World Cup qualifiers", "point in time", "2010"]
Correct
["John Brandard", "date of death", "15 December 1863"]
Correct
["Kansas City, Missouri", "country", "United States"]
Correct
["Dwan Hurt", "date of birth", "March 29, 1963"]
Correct
["sanatorium", "field of work", "tuberculosis"]
Correct
["Martin Cox", "date of birth", "August 12, 1956"]
Correct
["Samba Diakité", "member of sports team", "Mali national team"]
Correct
Correct
["Long Parliament", "inception", "November 1640"]
Correct
["inkhundla", "country", "Swaziland"]
Correct
["inkhundla", "country", "Swaziland"]
Correct
["Aure", "located in the administrative territorial entity", "Møre og Romsdal"]
Correct
["Alppila Upper Secondary School", "inception", "1959"]
Correct
["Die Streuner", "work period (start)", "1994"]
Correct
["Aichi Prefecture", "contains administrative territorial entity", "Toyohashi"]
Correct
["Algeria", "contains administrative territorial entity", "Sidi Bel Abbès Province"]
Correct
["Algeria", "contains administrative territorial entity", "Skikda Province"]
Correct
["Algeria", "contains administrative territorial entity", "Souk Ahras Province"]
Correct
["Terraguelt", "instance of", "commune"]
Correct
["Setif Province", "country", "Algeria"]
Correct
["Jennifer Hens", "sport", "sports shooter"]
Correct
["Nina Christen", "date of birth", "7 February 1994"]
Correct
["Everett O. Alldredge", "educated at", "DePauw University"]
Correct
Correct
Correct
["Roosendaal", "country", "Netherlands"]
Correct
Correct
["Elk Mountain", "located in protected area", "Grand Teton National Park"]
Correct
["Azamn", "instance of", "newspaper"]
Correct
["Les Sanguinaires", "director", "Laurent Cantet"]
Correct
Correct
Correct
["1988 NCAA Division I Outdoor Track and Field Championships", "country", "United States"]
Correct
["Red Konga", "cast member", "María Antonieta Pons"]
Correct
["Gerze Tunnel", "instance of", "tunnel"]
Correct
["Mitoguardin 1", "instance of", "gene"]
Correct
["Dutch national team", "sport", "field hockey"]
Correct
["2016 Rose of Tralee", "point in time", "23 August 2016"]
Correct
["Hassan Hameed", "sport", "goalkeeper"]
Correct
Correct
Correct
["Sabah", "country", "Malaysia"]
Correct
["Pierre Bénichou", "date of birth", "1 March 1938"]
Correct
["Robin Koch", "member of sports team", "Leeds United"]
Correct
["Tom Baumgart", "date of birth", "12 November 1997"]
Correct
["Monopoly Streets", "instance of", "video game"]
Correct
["Soma Edirisinghe", "country of citizenship", "Sri Lanka"]
Correct
["Mohamed Reda Abaci", "date of birth", "August 8, 1975"]
Correct
["Maziar Kouhyar", "position played on team / speciality", "midfielder"]
Correct
["gene", "encodes", "protein"]
Correct
["Revaz Nadareishvili", "participant in", "2016 Summer Olympics"]
Correct
Correct
["Aktobe Region", "country", "Kazakhstan"]
Correct
Correct
["1944 United States presidential election in Minnesota", "point in time", "November 7, 1944"]
Correct
Correct
["Emma di Resburgo", "composer", "Giacomo Meyerbeer"]
Correct
["Philipp Pflieger", "date of birth", "16 July 1987"]
Correct
["Tewelde Estifanos", "date of birth", "2 November 1981"]
Correct
Correct
["1924 NCAA Swimming and Diving Championships", "point in time", "1924"]
Correct
["Buly Da Conceição Triste", "participant in", "men's C-1 1000 metres"]
Correct
["Night Striker", "developer", "Taito Z System"]
Correct
["Kings River", "located in the administrative territorial entity", "Fresno County"]
Correct
["Gold Coast", "country", "Australia"]
Correct
["Behold the Dreamers", "author", "Imbolo Mbue"]
Correct
["Cristiano Lombardi", "member of sports team", "Lazio"]
Correct
["NCAA", "sport", "swimming"]
Correct
["Telangana", "contains administrative territorial entity", "Wanaparthy district"]
Correct
["Abner, the Invisible Dog", "genre", "comedy film"]
Correct
["Atari Corporation", "product or material produced", "Atari ST"]
Correct
["Romany Love", "director", "Fred Paul"]
Correct
Correct
["Monopoly Star Wars", "publication date", "1997"]
Correct
Correct
["Ala Ela", "publication date", "28 November 2014"]
Correct
["Imron Cotan", "place of birth", "Indonesia"]
Correct
Correct
["83 kg event", "point in time", "1996"]
Correct
["2016 presidential election", "candidate", "Hillary Clinton"]
Correct
["Clovis Morales", "date of birth", "27 February 1949"]
Correct
["Theodor Johansen", "sport", "badminton"]
Correct
Correct
["Handan", "located in the administrative territorial entity", "Hebei"]
Correct
Correct
["Bedopassa Buassat", "country of citizenship", "Bissau-Guinean"]
Correct
["Brewers", "league", "National League"]
Correct
["2017 St. Louis Cardinals season", "season of club or team", "St. Louis Cardinals"]
Correct
["Second Firsts", "publication date", "2013"]
Correct
Correct
Correct
["Süper Lig", "sport", "footballer"]
Correct
Correct
Correct
["Felix Geisler", "position played on team / speciality", "midfielder"]
Correct
Correct
["Adrian Ropes", "date of birth", "8 May 1941"]
Correct
["Sajur River", "mouth of the watercourse", "Euphrates"]
Correct
["Bank Restriction Act 1797", "publication date", "1797"]
Correct
Correct
["Khruli", "located in the administrative territorial entity", "Lokhvytsia Raion"]
Correct
["Jakob Franck", "date of death", "17 September 1884"]
Correct
["India", "contains administrative territorial entity", "Goa"]
Correct
Correct
["Uttar Pradesh", "country", "India"]
Correct
["New York City", "country", "U.S"]
Correct
["Kilfane Church", "located in the administrative territorial entity", "County Kilkenny"]
Correct
Correct
["Rough Night", "screenwriter", "Paul W. Downs"]
Correct
["Australia", "contains administrative territorial entity", "Queensland"]
Correct
["Heikki Hietanen", "date of death", "27 May 2000"]
Correct
Correct
Correct
["wrestling company", "sport", "professional wrestling"]
Correct
Correct
["Talgat Ilyasov", "date of birth", "25 February 1981"]
Correct
["Abdullah Öztürk", "date of birth", "October 1, 1989"]
Correct
["Servant of God", "followed by", "Venerable"]
Correct
["Cahuilla Creek", "located in the administrative territorial entity", "Riverside County, California"]
Correct
Correct
["Josef Schäffer", "place of birth", "Moravia"]
Correct
["Ross Creek Aerodrome", "country", "Canada"]
Correct
["Scudamore Winde Steel", "military rank", "Lieutenant General"]
Correct
["Taipei", "country", "Taiwan"]
Correct
["Noah Mascoll-Gomes", "date of birth", "27 May 1999"]
Correct
["2016 Summer Olympics", "point in time", "2016"]
Correct
["Garrett W. Hagedorn", "date of birth", "September 16, 1910"]
Correct
["Dámaso José Lescaille Tabares", "country of citizenship", "Cuba"]
Correct
["Myles Gaskin", "sport", "American football"]
Correct
["Boston Children's Hospital", "affiliation", "Harvard Medical School"]
Correct
["Khalid Assar", "country of citizenship", "Egypt"]
Correct
Correct
["China", "contains administrative territorial entity", "Sichuan"]
Correct
Correct
["Waterford Bridge", "crosses", "Cannon River"]
Correct
["Below Her Mouth", "narrative location", "Toronto"]
Correct
Correct
Correct
["2014", "point in time", "2014"]
Correct
["Alexus Laird", "date of birth", "11 March 1993"]
Correct
["Mohamed Saadaoui", "date of birth", "11 May 1995"]
Correct
["Jean-François Berruyer", "date of death", "17 April 1804"]
Correct
["1936 Summer Olympics", "point in time", "1936"]
Correct
["LinkedIn", "founded by", "Reid Hoffman"]
Correct
["NCAA University Division Swimming and Diving Championships", "sport", "diving"]
Correct
Correct
["Class A-Advanced", "has part", "Florida State League"]
Correct
["Atyrau Region", "country", "Kazakhstan"]
Correct
Correct
["Gülşah Düzgün", "sport", "goalball"]
Correct
["Medellín", "located in the administrative territorial entity", "Antioquia"]
Correct
Correct
Correct
["Local Government Act 1972", "publication date", "1972"]
Correct
Correct
["Bolesław Romanowski", "date of birth", "21 March 1910"]
Correct
["Henrique Haddad", "date of birth", "May 28, 1987"]
Correct
["Jan Drenth", "date of birth", "20 February 1925"]
Correct
["Tiger Bay", "performer", "Saint Etienne"]
Correct
["Wheatbelt", "located in the administrative territorial entity", "Western Australia"]
Correct
["When the Dead Return", "country of origin", "American"]
Correct
Correct
Correct
["Louis Perceau", "date of death", "20 April 1942"]
Correct
Correct
["Tekla Teresa Łubieńska", "place of death", "Kraków"]
Correct
Correct
Correct
["Jackson Wang", "member of", "Got7"]
Correct
["quarterback", "sport", "American football"]
Correct
["2006 Asian Games", "point in time", "2006"]
Correct
Correct
Correct
["South Korea", "capital", "Seoul"]
Correct
["Daytona Beach", "located in the administrative territorial entity", "Volusia County, Florida"]
Correct
["Alimosho", "country", "Nigeria"]
Correct
["Kristian Brymora", "sport", "football"]
Correct
["Arthur Ormston", "member of sports team", "Blyth Spartans"]
Correct
Correct
["2016 CS Nebelhorn Trophy", "point in time", "September 2016"]
Correct
Correct
["Metro Manila", "country", "Philippines"]
Correct
Correct
["Hotel Monterey", "genre", "silent"]
Correct
Correct
Correct
["Aero Engine Corporation of China", "inception", "August 28, 2016"]
Correct
Correct
["Riverina", "country", "Australia"]
Correct
["Trumbull Correctional Institution", "operator", "Ohio Department of Rehabilitation and Correction"]
Correct
["Acheng", "instance of", "District"]
Correct
Correct
["Tamil Nadu", "contains administrative territorial entity", "Theni District"]
Correct
["Grand Casino Portorož", "instance of", "casino"]
Correct
Correct
["Museum Masuuni Brunou", "country", "Finland"]
Correct
["Tasmania", "country", "Australia"]
Correct
["Kunhu Muhammed", "date of birth", "5 March 1982"]
Correct
Correct
["Johnny Laws", "genre", "Chicago blues"]
Correct
Correct
["A StoryBots Christmas", "based on", "Ask the StoryBots"]
Correct
["Henry Stuart Carter", "date of birth", "September 5, 1910"]
Correct
["Sailor Jack's Reformation", "director", "Sidney Olcott"]
Correct
Correct
["Holmes County, Florida", "capital", "Bonifay"]
Correct
["Yerevan", "country", "Armenia"]
Correct
["Nihat Hatipoğlu", "country of citizenship", "Turkey"]
Correct
Correct
["Chantry Island Lighthouse", "located on terrain feature", "Chantry Island"]
Correct
["Emirates Flight 521", "country", "United Arab Emirates"]
Correct
["Jean-Joseph Rive", "date of birth", "19 May 1730"]
Correct
["Bonnie Burton", "date of birth", "July 12, 1972"]
Correct
Correct
["Padmini Kolhapure", "award received", "Best Actress"]
Correct
Correct
["Malappuram district", "located in the administrative territorial entity", "Kerala"]
Correct
["Safaripark Beekse Bergen", "instance of", "wildlife zoo"]
Correct
["Dimitar Kapinkovski", "member of sports team", "FK Pelister"]
Correct
Correct
["Kerala", "part of", "South India"]
Correct
Correct
["Tengku Muhammad Fa-iz Petra", "father", "Sultan Ismail Petra"]
Correct
Correct
["The Virtuous Scoundrel", "cast member", "Michel Simon"]
Correct
["Jaroslav Benda", "date of death", "January 12, 1970"]
Correct
["The Perfect Circle", "narrative location", "Sarajevo"]
Correct
["Egypt national rugby union team", "country", "Egypt"]
Correct
["1967–68", "sports season of league or competition", "American Basketball Association"]
