Correct
Correct
["Graham Land", "continent", "Antarctica"]
Correct
["1913 Saskatchewan Huskies football team", "point in time", "1913"]
Correct
["David M. Louie", "place of birth", "Oakland"]
Correct
["International Transportation Service", "inception", "1971"]
Correct
["Bangkok", "country", "Thailand"]
Correct
["Sailor's Luck", "director", "Raoul Walsh"]
Correct
["Saproamanita thiersii", "parent taxon", "Saproamanita"]
Correct
["Brabantine Gothic", "part of", "Gothic architecture"]
Correct
Correct
["European Transport Workers' Federation", "affiliation", "International Transport Workers' Federation"]
Correct
["Kyokushin", "subclass of", "karate"]
Correct
["2010 Georgia State Panthers football team", "point in time", "2010"]
Correct
Correct
Correct
["Kiel Baltic Hurricanes", "country", "Germany"]
Correct
["The Rest of the Dream", "publication date", "1990"]
Correct
Correct
["Australian Football League", "sport", "Australian rules football"]
Correct
["data mining", "subclass of", "statistics"]
Correct
["Ellsworth Mountains", "has part", "Sentinel Range"]
Correct
["Gemini Nunataks", "instance of", "nunatak"]
Correct
Correct
["Elephant Island", "part of", "South Shetland Islands"]
Correct
Correct
["Sir Thomas Alston, 3rd Baronet", "date of death", "December 1714"]
Correct
Correct
["Robert Falcon Scott", "participant in", "British Antarctic Expedition, 1910–13"]
Correct
["McPherson College", "located in the administrative territorial entity", "McPherson, Kansas"]
Correct
["Goodenough Glacier", "instance of", "glacier"]
Correct
["Mount Goorhigian", "mountain range", "Demas Range"]
Correct
Correct
Correct
Correct
["Mawson", "participant in", "Australasian Antarctic Expedition"]
Correct
["Johnson Space Center", "headquarters location", "Houston, Texas"]
Correct
["British Antarctic Expedition, 1907–09", "participant", "Ernest Shackleton"]
Correct
["Germany", "contains administrative territorial entity", "Hesse"]
Correct
Correct
["Scott Glacier", "mountain range", "Queen Maud Mountains"]
Correct
Correct
Correct
["Terror", "owned by", "Royal Navy"]
Correct
["French", "country", "Réunion"]
Correct
Correct
["Royal Society Range", "continent", "Antarctica"]
Correct
["Mount Radspinner", "mountain range", "Bowers Mountains"]
Correct
Correct
["King George Island", "part of", "South Shetland Islands"]
Correct
Correct
Correct
["Byrd Station", "operator", "United States Antarctic Research Program"]
Correct
["Sir John Scott Keltie", "member of", "Royal Geographical Society"]
Correct
["Koettlitz Glacier", "continent", "Antarctica"]
Correct
["HMS \"Chanticleer\"", "operator", "Royal Navy"]
Correct
Correct
["La Gorce Mountains", "mountain range", "Queen Maud Mountains"]
Correct
Correct
Correct
Correct
Correct
["Gilbert Shakespeare", "sibling", "William Shakespeare"]
Correct
["You're Never Too Old for Young Love", "genre", "country music"]
Correct
["Filipe Nzanza", "member of sports team", "Angola national team"]
Correct
Correct
["Katō Kiyomasa", "place of burial", "Honmyō-ji"]
Correct
["Sasisena Temple", "country", "India"]
Correct
["A&E Networks", "owner of", "Viceland"]
Correct
["Johann Zarco", "date of birth", "16 July 1990"]
Correct
Correct
["Viruthan Shanku", "director", "P. Venu"]
Correct
["Mississippi Department of Marine Resources", "headquarters location", "Biloxi, Mississippi"]
Correct
Correct
Correct
["Bolden", "publication date", "2019"]
Correct
Correct
["Mingo County Schools", "instance of", "school district"]
Correct
["Remontay McClain", "country of citizenship", "America"]
Correct
["Charlottetown", "part of", "Prince Edward Island"]
Correct
["Turkey", "ethnic group", "Turkish"]
Correct
Correct
["Celano", "sport", "footballer"]
Correct
["Ali Omari", "date of birth", "3 June 1983"]
Correct
["Gutenko Nunataks", "instance of", "nunatak"]
Correct
["Prioress Island", "part of", "Wauwermans Islands"]
Correct
Correct
["Kielce Power Station", "inception", "1987"]
Correct
Correct
Correct
["Trivelpiece Island", "located in or next to body of water", "Wylie Bay"]
Correct
["Trulla Bluff", "located in the administrative territorial entity", "South Sandwich Islands"]
Correct
Correct
Correct
["Graham Land", "continent", "Antarctica"]
Correct
["Argentina Range", "mountain range", "Pensacola Mountains"]
Correct
["Sentinel Range", "mountain range", "Ellsworth Mountains"]
Correct
Correct
["Karnataka", "country", "India"]
Correct
["India", "contains administrative territorial entity", "Karnataka"]
Correct
Correct
Correct
["Kimberley", "located in the administrative territorial entity", "Western Australia"]
Correct
Correct
["U.S.A", "contains administrative territorial entity", "Arizona"]
Correct
["The Human Abstract", "genre", "progressive metal"]
Correct
Correct
["Long Way Round", "followed by", "Long Way Down"]
Correct
["Schleswig-Holstein", "instance of", "German state"]
Correct
Correct
["Hokkaidō", "country", "Japan"]
Correct
["Sørlle Buttress", "named after", "Petter Sørlle"]
Correct
["Hamilton Cliff", "mountain range", "Ford Massif"]
Correct
["Colorado Springs East Airport", "instance of", "airport"]
Correct
["Kue cubit", "country of origin", "Indonesia"]
Correct
["diazepam", "instance of", "benzodiazepine"]
Correct
["Henry de Lumley", "place of birth", "Marseille"]
Correct
["Nordic noir", "instance of", "genre"]
Correct
["South Africa", "contains administrative territorial entity", "Western Cape"]
Correct
["Helpt Hills", "named after", "Helpt"]
Correct
["Hanns-Peter Boehm", "place of birth", "Paris"]
Correct
["Norwich City", "sport", "footballer"]
Correct
["Datong District", "country", "Taiwan"]
Correct
["Wisconsin", "capital", "capital city"]
Correct
["Klaus Conrad", "date of birth", "19 June 1905"]
Correct
["Zbigniew Załuski", "date of birth", "31 July 1926"]
Correct
Correct
["Tukums II Station", "instance of", "railway station"]
Correct
["Adémaï au poteau-frontière", "cast member", "Paul Colline"]
Correct
["Meike Evers", "place of birth", "Berlin"]
Correct
Correct
["2011 Minnesota Golden Gophers football team", "point in time", "2011"]
Correct
["Nathan Söderblom", "position held", "Archbishop"]
Correct
["Paul Simon", "genre", "folk rock"]
Correct
["Carl Geyling's Erben", "headquarters location", "Vienna"]
Correct
["Stempenyu", "publication date", "1888"]
Correct
["City Index", "owned by", "GAIN Capital"]
Correct
Correct
["Anatoli Fedorovich Kapustinskii", "date of birth", "29 December 1906"]
Correct
["Sin Gwang-suk", "date of birth", "8 November 1946"]
Correct
["Vagif Aliyev", "country of citizenship", "Azerbaijan Republic"]
Correct
["Myelat", "country", "Burma"]
Correct
["Wymysorys language", "located in the administrative territorial entity", "Wilamowice"]
Correct
["truTV", "genre", "reality television series"]
Correct
["Barrayar", "award received", "Hugo Award for Best Novel"]
Correct
["Slovenia", "contains administrative territorial entity", "Municipality of Slovenske Konjice"]
Correct
["Novgorod Oblast", "contains administrative territorial entity", "Poddorsky"]
Correct
["Municipality of Slovenske Konjice", "located in the statistical territorial entity", "Savinja Statistical Region"]
Correct
["Italy", "contains administrative territorial entity", "Tuscany"]
Correct
["Municipality of Slovenske Konjice", "country", "Slovenia"]
Correct
Correct
["Ponmundam", "located in the administrative territorial entity", "Kerala"]
Correct
["Amsterdam Arena", "country", "Netherlands"]
Correct
["Municipality of Slovenske Konjice", "country", "Slovenia"]
Correct
["Ron Fawcett", "date of birth", "6 May 1955"]
Correct
["Patou Kabangu", "member of sports team", "DR Congo national football team"]
Correct
["1972–73 Phoenix Suns season", "season of club or team", "Phoenix Suns"]
Correct
Correct
Correct
Correct
Correct
["Batman Province", "contains administrative territorial entity", "Batman"]
Correct
["İkiztepe oil field", "located in the administrative territorial entity", "Southeastern Anatolia Region"]
Correct
["William Beckett-Denison", "date of death", "1890"]
Correct
["Curcio", "instance of", "frazione"]
Correct
["No One Deserves to Be Here More Than Me", "performer", "Blacklisted"]
Correct
["Parner taluka", "located in the administrative territorial entity", "Ahmednagar district"]
Correct
["Maharashtra", "country", "India"]
Correct
["Parner taluka", "located in the administrative territorial entity", "Ahmednagar district"]
Correct
Correct
["Parner taluka", "located in the administrative territorial entity", "Ahmednagar district"]
Correct
["Center on Media and Child Health", "instance of", "non-profit"]
Correct
["Parner taluka", "located in the administrative territorial entity", "Ahmednagar district"]
Correct
["Parner taluka", "located in the administrative territorial entity", "Ahmednagar district"]
Correct
["Edward Southwell Sr.", "father", "Robert Southwell"]
Correct
["Michigan", "has part", "Lower Peninsula"]
Correct
Correct
["Coexist sign", "inception", "2000"]
Correct
["Murraylands", "located in the administrative territorial entity", "South Australia"]
Correct
["1976 Japan Open Tennis Championships", "point in time", "1976"]
Correct
["Michel Beaudouin-Lafon", "date of birth", "20 July 1961"]
Correct
["Adam Cieśliński", "place of birth", "Chełmno"]
Correct
["Zanzibar Archipelago", "country", "Tanzania"]
Correct
["Balkan Peninsula", "part of", "Europe"]
Correct
["Danish", "capital", "Copenhagen"]
Correct
["Best Actress", "winner", "Juhi Chawla"]
Correct
Correct
Correct
Correct
["Martti Soosaar", "date of death", "18 April 2017"]
Correct
["Finland", "language used", "Finnish language"]
Correct
Correct
["Gleniffer Lake (Alberta)", "inflows", "Red Deer River"]
Correct
Correct
["Anna Rossinelli", "date of birth", "20 April 1987"]
Correct
["2011 NCAA Men's Division I Basketball Tournament", "point in time", "2011"]
Correct
Correct
["Jim Easton", "member of sports team", "Miami Toros"]
Correct
["Zombodze", "located in the administrative territorial entity", "Shiselweni District"]
Correct
["Alex Fasolo", "member of sports team", "Collingwood Football Club"]
Correct
Correct
Correct
["South Gloucestershire Council", "applies to jurisdiction", "South Gloucestershire"]
Correct
["1964 Summer Olympics", "point in time", "1964"]
Correct
["Algeria", "contains administrative territorial entity", "Sidi Bel Abbès Province"]
Correct
["Ouldja Boulballout", "instance of", "commune"]
Correct
["Algeria", "contains administrative territorial entity", "Skikda Province"]
Correct
["Souk Ahras Province", "country", "Algeria"]
Correct
["Algeria", "contains administrative territorial entity", "Sétif Province"]
Correct
["Chase County Junior/Senior High School", "located in the administrative territorial entity", "Kansas"]
Correct
Correct
["Jeong Bo-kyeong", "sport", "judo"]
Correct
["men's skeet", "point in time", "1996"]
Correct
["International Swimming League", "sport", "swimmer"]
Correct
["Malaysia", "contains administrative territorial entity", "Selangor"]
Correct
["Samuil Donkov", "sport", "sports shooter"]
Correct
Correct
Correct
["Jane West Clauss", "date of birth", "September 23, 1907"]
Correct
["Southern Methodist University", "country", "United States"]
Correct
["Bernie Moore Track Stadium", "located in the administrative territorial entity", "Baton Rouge, Louisiana"]
Correct
Correct
Correct
["Por Toda Minha Vida", "instance of", "television series"]
Correct
["Somalia", "replaces", "Somali Democratic Republic"]
Correct
["Mária Érdi", "date of birth", "18 February 1998"]
Correct
["Are U Satisfied", "instance of", "studio album"]
Correct
["Taylor County, Florida", "capital", "Perry"]
Correct
Correct
["Kangean islands", "country", "Indonesia"]
Correct
["Orleans Arena", "location", "Paradise, Nevada"]
Correct
["Roma", "located in the administrative territorial entity", "Maranoa Region"]
Correct
Correct
Correct
["Now Until the Break of Day", "performer", "Bazmark"]
Correct
["Diocese of Buto", "instance of", "titular see"]
Correct
Correct
["Tiger Palpatja", "date of birth", "1920"]
Correct
Correct
Correct
["Mariama Sow", "date of birth", "19 May 2000"]
Correct
["2016 Summer Olympics", "point in time", "2016"]
Correct
["short", "sport", "athlete"]
Correct
["Deoria district", "country", "India"]
Correct
["1985 NCAA Division I-A football season", "sport", "American football"]
Correct
["Georgi Benkunsky", "date of death", "February 10, 1995"]
Correct
["Mary Evelyn Tucker", "spouse", "John Allen Grim"]
Correct
["1991 NCAA Division I-A football season", "point in time", "1991"]
Correct
Correct
["Piney Brown", "date of birth", "January 20, 1922"]
Correct
["Newell Houston Ensley", "date of birth", "August 23, 1852"]
Correct
["defender", "sport", "footballer"]
Correct
["Türkgücü-ATA", "sport", "footballer"]
Correct
["Stadion Krimeja", "located in the administrative territorial entity", "Rijeka"]
Correct
["Isaac Oviedo", "date of death", "June 16, 1992"]
Correct
Correct
["1955 college football season", "sport", "American football"]
Correct
["Perinad", "located in the administrative territorial entity", "Kollam district"]
Correct
["Arizona Cardinals", "member of", "National Football League"]
Correct
["Pretty Bob Creek", "located in the administrative territorial entity", "Henry County"]
Correct
["Nuevo León", "country", "Mexico"]
Correct
["Richard Wingfield, 5th Viscount Powerscourt", "date of death", "9 August 1823"]
Correct
["Archana IAS", "publication date", "1991"]
Correct
["Callisburg", "country", "USA"]
Correct
["Franklin D. Roosevelt", "member of political party", "Democratic"]
Correct
Correct
Correct
["Karl Wilhelm Stolle", "member of political party", "SPD"]
Correct
["Ferdinando de Rojas", "date of birth", "15 April, 1650"]
Correct
Correct
["Harold Koda", "date of birth", "January 3, 1950"]
Correct
["Sandro Schärer", "occupation", "referee"]
Correct
["The Mystery of the Villa Rose", "cast member", "Léon Mathot"]
Correct
Correct
Correct
["Fondi '91", "narrative location", "Italy"]
Correct
Correct
Correct
["Ventnor", "located in the administrative territorial entity", "North Burnett Region"]
Correct
["Ulukışla", "country", "Turkey"]
Correct
Correct
["Nirmal district", "located in the administrative territorial entity", "Telangana"]
Correct
["Tullyhunco", "located in the administrative territorial entity", "County Cavan"]
Correct
["Trần Ngọc Lan Khuê", "place of birth", "Ho Chi Minh City"]
Correct
["Virus", "country of origin", "Norwegian"]
Correct
["Locomotive Springs Wildlife Management Area", "country", "United States"]
Correct
["Pazuzu", "part of", "Babylonian mythology"]
Correct
["Ludwig Karl Eduard Schneider", "date of death", "9 February 1889"]
Correct
["Mananciais do Rio Paraíba do Sul Environmental Protection Area", "located in the administrative territorial entity", "São Paulo"]
Correct
["Central Sulawesi", "country", "Indonesia"]
Correct
["Missouri", "contains administrative territorial entity", "Osage"]
Correct
["1956 Summer Olympics", "has part", "three events"]
Correct
Correct
["Christoph Göbel", "date of birth", "23 March 1989"]
Correct
["Andrés Montaño", "participant in", "men's Greco-Roman 59 kg"]
Correct
["Raiber Rodríguez", "date of birth", "December 28, 1990"]
Correct
["Central Sulawesi", "country", "Indonesia"]
Correct
["Connecticut", "contains administrative territorial entity", "New Haven County"]
Correct
["midfielder", "sport", "footballer"]
Correct
["VfB Homberg", "sport", "footballer"]
Correct
["Patrick Briaud", "date of birth", "6 February 1983"]
Correct
Correct
["K League Classic", "country", "South Korea"]
Correct
["NGC 209", "constellation", "Cetus"]
Correct
["Uganda", "contains administrative territorial entity", "Mukono District"]
Correct
Correct
["Burcu Özsoy", "date of birth", "1976"]
Correct
["Latvia", "contains administrative territorial entity", "Riga"]
Correct
["1936 Summer Olympics", "has part", "two events"]
Correct
["Ivar David-Andersen", "father", "Arthur David-Andersen"]
Correct
["Janet Kelso", "country of citizenship", "South Africa"]
Correct
Correct
Correct
["Shipwreck Conservation Centre", "located in the administrative territorial entity", "Tczew"]
Correct
["2017 NCAA Division I FBS football season", "point in time", "2017"]
Correct
["CV Productions, Inc.", "headquarters location", "Pittsburgh, Pennsylvania"]
Correct
["Bryan J. Cuevas", "date of birth", "1967"]
Correct
Correct
["ČEZ Group", "chief executive officer", "Daniel Beneš"]
Correct
["Encyclopédie", "publication date", "1751"]
Correct
Correct
["Putt-Putt", "publisher", "Humongous Entertainment"]
Correct
["Mubarakan", "publication date", "2017"]
Correct
Correct
["Ted M. Warshafsky", "date of birth", "December 6, 1926"]
Correct
["Clay Blaker", "genre", "country"]
Correct
["Marina Ivanova-Kharlamova", "participant in", "1983 World Championships in Athletics"]
Correct
["Lucia V. Streng", "date of birth", "November 6, 1909"]
Correct
["Jean Andeka", "country of citizenship", "Democratic Republic of the Congo"]
Correct
Correct
["Soviet Screen", "country of origin", "USSR"]
Correct
["2016 Summer Olympics", "point in time", "2016"]
Correct
["Estadio Municipal Claudio Suárez", "country", "Mexico"]
Correct
["Milwaukee Secure Detention Facility", "operator", "Wisconsin Department of Corrections"]
Correct
["Greene Correctional Facility", "operator", "New York State Department of Corrections and Community Supervision"]
Correct
["Pearl of Puerto", "instance of", "pearl"]
Correct
["Georg Christian Wittstein", "educated at", "University of Munich"]
Correct
["Nat Polen", "date of death", "May 3, 1981"]
Correct
["Pierre de Hérain", "occupation", "film director"]
Correct
["Jacques Marguerite Pilotte de La Barollière", "date of birth", "28 November 1746"]
Correct
["Gladys Morcom", "participant in", "1936 Summer Olympics"]
Correct
["two events", "part of", "1936 Summer Olympics"]
Correct
["Guru Gobind Singh", "place of birth", "Patna"]
Correct
["post-quantum", "subclass of", "cryptography"]
Correct
["outside left", "sport", "footballer"]
Correct
Correct
["After Robots", "genre", "indie rock"]
Correct
["Everybody Wants Some!!", "cast member", "Austin Amelio"]
Correct
["North America", "has part", "Mexico"]
Correct
["New York", "located in or next to body of water", "Lake Champlain"]
Correct
Correct
Correct
["Konventum", "country", "Denmark"]
Correct
["Bay of Fundy", "part of", "Atlantic Ocean"]
Correct
["Saône-et-Loire", "contains administrative territorial entity", "Joncy"]
Correct
Correct
Correct
Correct
["Juan José Gárate", "date of birth", "11 July 1869"]
Correct
["Plzeň main railway station", "date of official opening", "1862"]
Correct
Correct
["David Flitwick (died 1353)", "date of death", "1353"]
Correct
Correct
["Rana Ayyub", "notable work", "Gujarat Files"]
Correct
Correct
["Socialists' Party of Catalonia", "replaces", "Socialist Party of Catalonia–Regrouping"]
Correct
["Agder", "country", "Norway"]
Correct
Correct
["Paris", "country", "France"]
Correct
["Brookfield Village Historic District", "located in the administrative territorial entity", "Brookfield, Vermont"]
Correct
Correct
["Julia Stephen", "date of death", "1895"]
Correct
Correct
["Maryvale serial shooter", "occupation", "serial killer"]
Correct
["Girl Problems", "producer", "Joey Moi"]
Correct
Correct
["Moore Haven Correctional Facility", "inception", "1995"]
Correct
["MacGyver the Lizard", "instance of", "Argentine red tegu"]
Correct
Correct
["Ugolino da Gualdo Cattaneo", "date of death", "1 January 1260"]
Correct
["Stranger Things", "characters", "Mike Wheeler"]
Correct
Correct
["The Former Mattia Pascal", "director", "Pierre Chenal"]
Correct
Correct
["flood of 1 February 1953", "country", "Netherlands"]
Correct
Correct
Correct
Correct
["Oruro Department", "contains administrative territorial entity", "Cercado Province"]
Correct
["Wheatbelt", "located in the administrative territorial entity", "Western Australia"]
Correct
Correct
Correct
Correct
["Adolph Carl Peter Callisen", "date of birth", "8 April 1786"]
Correct
["Harry Levine", "date of birth", "August 1, 1895"]
Correct
["Wu Mi", "educated at", "Tsinghua University"]
Correct
["A War Time Escape", "director", "Sidney Olcott"]
Correct
["Team Bahrain Victorious", "instance of", "UCI WorldTeam"]
Correct
["Yoon Chae-kyung", "date of birth", "July 7, 1996"]
Correct
Correct
["Lewis Benedict", "date of birth", "September 2, 1817"]
Correct
["1893 tour of Australia", "sport", "rugby union"]
Correct
["Monica Sehgal", "date of birth", "6 March 1990"]
Correct
Correct
["Slovenia", "contains administrative territorial entity", "Municipality of Destrnik"]
Correct
Correct
Correct
["Sveinung Rotevatn", "date of birth", "15 May 1987"]
Correct
Correct
["Bielefeld University", "located in the administrative territorial entity", "Bielefeld"]
Correct
Correct
["High Ongar", "located in the administrative territorial entity", "Epping Forest"]
Correct
["Saskatchewan", "country", "Canada"]
Correct
["NYSARC, Inc.", "instance of", "non-profit organization"]
Correct
["1964 Summer Olympics", "point in time", "1964"]
Correct
["The Human Sexipede", "director", "Lee Roy Myers"]
Correct
Correct
["Kanyakumari district", "located in the administrative territorial entity", "Tamil Nadu"]
Correct
["George Dalston", "educated at", "Queens' College, Cambridge"]
Correct
["Hermann Bartels", "place of birth", "Minden"]
Correct
["Marilyn Kittelman", "country of citizenship", "American"]
Correct
["Salute the Toff", "cast member", "Carol Marsh"]
Correct
["Savoie", "country", "France"]
Correct
["Hudson River", "located in the administrative territorial entity", "New York"]
Correct
["Hospital Punta Pacifica", "instance of", "hospital"]
Correct
Correct
["coronavirus pandemic.", "point in time", "2020"]
Correct
["Alex Abella", "date of birth", "1950"]
Correct
["Orion's Belt", "publication date", "1985"]
Correct
["soul", "subclass of", "R&B"]
Correct
["Sinead Tinker", "point in time", "2013"]
Correct
["Paban Das Baul", "genre", "Baul"]
Correct
["Live Erleben", "performer", "Schiller"]
Correct
["Montevideo", "country", "Uruguay"]
Correct
["Texas Tennis Open", "sport", "tennis"]
Correct
["Döbeln Hauptbahnhof", "connecting line", "Riesa–Chemnitz lines"]
Correct
["Slovenia", "contains administrative territorial entity", "Municipality of Žalec"]
Correct
Correct
["2011 Formula One season", "point in time", "2011"]
Correct
["2002 NHL Entry Draft", "point in time", "2002"]
Correct
["Jaundubulti Station", "instance of", "railway station"]
Correct
Correct
["Amaragol", "located in the administrative territorial entity", "Dharwad district"]
Correct
["Anchatgeri", "country", "India"]
Correct
Correct
["India", "contains administrative territorial entity", "Karnataka"]
Correct
Correct
["The People of Freedom", "political alignment", "centre-right"]
Correct
["Josef Kuchynka", "coach of sports team", "Sparta Prague"]
Correct
["Roda JC Kerkrade", "sport", "footballer"]
Correct
["Coléoptères", "main subject", "entomology"]
Correct
["SD9", "inception", "2002"]
Correct
Correct
["RKAVV", "sport", "footballer"]
Correct
["'Amran Governorate", "country", "Yemen"]
Correct
["William Jordan Rattray", "educated at", "University of Toronto"]
Correct
["Mudiyah District", "instance of", "district"]
Correct
["Sibah District", "country", "Yemen"]
Correct
["Watwick Point Beacon", "instance of", "lighthouse"]
Correct
Correct
["Ibrahim Sharif", "member of political party", "National Democratic Action Society"]
Correct
["Jiří Zídek Sr.", "sport", "basketball"]
